<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <trace enabled="true" pageOutput="false" requestLimit="40" localOnly="false"/>

    <customErrors mode="Off"/>

    <!--edit this value if needed when uploading large files-->
    <httpRuntime maxRequestLength="809200" />

  </system.web>

  <system.webServer>
    <staticContent>

      <!--<mimeMap fileExtension=".map" mimeType="vector/vnd.svf" />-->
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
   

    </staticContent>

    <!--edit this value if needed when uploading large files-->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="90000000" />
      </requestFiltering>
    </security>

  </system.webServer>
  
  <appSettings>
    <add key="log4net.Config" value="config\log4net.config" />

    <!--For production-->
    <add key="BASE_URL" value="https://developer.api.autodesk.com"/>
    <add key="DEFAULT_BUCKET_KEY" value="bucket_checkoutmymodel"/>
    <add key="CLIENT_ID" value="your consumer key "/>
    <add key="CLIENT_SECRET" value="your secret key"/>
    
    
  </appSettings>


</configuration>
